.card_container {
    margin-top: 50px;
    padding: 20px;
    min-height: 500px;
    width: 300px;
    box-shadow: 5px 5px 10px gray;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_container{ 

    display: flex;
    justify-content: center;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 100px ;
    border: 4px solid black;
}
button{
    margin-top: 20px;
}   

.parents{
   
}